[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = warning

# RCS1140: Add exception to documentation comment
dotnet_diagnostic.RCS1140.severity = suggestion
